body {
    background-size: cover;
    background-image: url(../images/conjunto.webp);
}
.opacidad {
    opacity: 0%;
}
.formulari {
    margin: auto;
    width: 20%;
    margin-top: 19vh;
    border: 2px solid black;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 15px; 
}
.inputs {
    padding-top: 10px;
    padding-bottom: 10px;
}
.anarhi {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 8vh;
}
.fonscern {
    background-image: url(../images/cern.webp);
}

.fonsmessi {
    background-image: url(../images/messi.webp);

}



